<p-dialog [header]="sistema.Nombre" [(visible)]="display" modal="true" showEffect="fade" (onHide)="closeModal()"
    [style]="{width: '90vw'}">    
    <p-tabView>
        <div class="p-col-12" *ngIf="loading">
            <div class="card">
                <h1>Cargando...</h1>
                <p-progressBar mode="indeterminate" [showValue]="false"></p-progressBar>
            </div>
        </div>
        <p-tabPanel header="Sistema" leftIcon="pi pi-desktop">            
            <div class="p-col-12" *ngIf="!loading">
                <div class="card card-w-title">
                    <div class="p-grid form-group">
                        <div class="p-col-6">
                            <label for="acSimple">URL</label>
                            <input type="text" pInputText [style]="{'width': '100%'}" [readonly]="lectura"
                                placeholder="Sistema" [(ngModel)]="sistema.Url">
                        </div>
                        <div class="p-col-6">
                            <label for="acAdvanced">Team Foundation Server</label>
                            <input type="text" pInputText [style]="{'width': '100%'}" [readonly]="lectura"
                                placeholder="Ruta TFS" [(ngModel)]="sistema.UbicacionTeam">
                        </div>
                        <div class="p-col-12">
                            <label for="acAdvanced">Descripción</label>
                            <textarea [rows]="3" [cols]="30" pInputTextarea [style]="{'width': '100%'}"
                                placeholder="Descripción" autoResize="autoResize"
                                [(ngModel)]="sistema.Descripcion"></textarea>
                        </div>
                        <div class="p-col-3">
                            <label for="acAdvanced">Escritorio Virtual</label><br>
                            <p-dropdown [options]="TipoEscritorioVirtual" [(ngModel)]="sistema.TipoEscritorioVirtual" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                        </div>
                        <div class="p-col-3">
                            <label for="acAdvanced">Tipo Aplicación</label><br>                            
                            <p-dropdown [options]="TipoSistemas" [(ngModel)]="sistema.TipoSistema" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                        </div>
                        <div class="p-col-3">
                            <label for="acAdvanced">Base Datos</label>
                            <p-dropdown [options]="TipoBaseDatos" [(ngModel)]="sistema.TipoBaseDatos" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                        </div>
                        <div class="p-col-3">
                            <label for="acAdvanced">Estado Desarrollo</label>
                            <p-dropdown [options]="TipoEstadoDesarrollo" [(ngModel)]="sistema.TipoEstadoDesarrollo" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                        </div>
                        <div class="p-col-3">
                            <label for="acAdvanced">Usuario</label>
                            <p-dropdown [options]="TipoUsuario" [(ngModel)]="sistema.TipoUsuario" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                        </div>
                        <div class="p-col-3">
                            <label for="acAdvanced">Internet Information Server</label>
                            <p-dropdown [options]="TipoIIS" [(ngModel)]="sistema.TipoIIS" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                        </div>
                        <div class="p-col-3">
                            <label for="acAdvanced">Framework Web</label>
                            <p-dropdown [options]="TipoFrameworkWeb" [(ngModel)]="sistema.TipoFrameworkWeb" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                        </div>
                        <div class="p-col-3">
                            <label for="acAdvanced">Framework .NET</label>
                            <p-dropdown [options]="TipoFrameworkNet" [(ngModel)]="sistema.TipoFrameworkNet" optionValue="Id" optionLabel="Nombre"></p-dropdown>
                        </div>
                        <div class="p-col-12">
                            <label for="acAdvanced">Nota Sistema</label>
                            <textarea [rows]="3" [cols]="30" pInputTextarea [style]="{'width': '100%'}"
                                placeholder="Nota Sistema" autoResize="autoResize" [(ngModel)]="sistema.Observacion"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Requerimientos" leftIcon="pi pi-inbox">            
            <div class="p-col-12">
                <div class="card card-w-title">
                    <p-table [columns]="cols" [value]="Requerimientos" selectionMode="single" dataKey="Id"
                             styleClass="p-datatable-sm"
                             [responsive]="true">
                             <!-- [scrollable]="true" scrollHeight="50vh" -->
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field" [ngStyle]="{'width': col.width}">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowRequerimiento let-columns="columns">
                            <tr [pSelectableRow]="rowRequerimiento" [pEditableRow]="rowRequerimiento">
                                <td>{{rowRequerimiento.TipoDesarrollador.Nombre}}</td>
                                <td>{{rowRequerimiento.Descripcion}}</td>
                                <td>{{rowRequerimiento.FechaInicio | date: 'dd MMM yyyy'}}</td>
                                <td>{{rowRequerimiento.FechaTermino | date: 'dd MMM yyyy'}}</td>
                                <td>{{rowRequerimiento.TipoEstado.Nombre}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Usuarios" leftIcon="pi pi-users">
            After a break of more than 15 years, director Francis Ford Coppola and writer Mario Puzo returned to the
            well for this third
            and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael
            Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family
            would one day be completely legitimate.
        </p-tabPanel>
    </p-tabView>

    <p-footer>
        <button type="button" pButton icon="pi pi-times" (click)="closeModal()" class="ui-button-secondary toLeft"
            label="Cerrar"></button>
        <button type="button" pButton icon="pi pi-check" (click)="setSistema()" label="Registrar Sistema"></button>
    </p-footer>
</p-dialog>